footer {
	position: fixed;
	bottom: 0px;
	height: 100px;
	width: 100%;
	background: #c5c5c5;
	outline: #000 solid thin;
}

.controls-container {
	background: #ffffff;
}

.playing-image-container {
	display: inline-block;
	float: left;
	width: 30%;
	height: 100px;
}

#playing-image {
	width: 100px;
	height: 100px;
}

.playing-text-container {
	display: inline-block;
	margin: 24px 0px;
	width: 40%;
}

.button-container {
	display: inline-block;
	float: right;
	width: 30%;
	padding: 25px 0px;
}
.btn-control {
	width: 50px;
	height: 50px;
	float: right;
	padding-right: 15px;
}

.material-icons.md-48 { 
	font-size: 48px;
}
