html {
	height:100%;
	min-width: 490px;
}

body {
	background: #d5d5d5;
	margin: 0px;
	width: 100%;
}

p {
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#content {
	margin-bottom: 96px;
	padding: 20px;
}

.center-in-parent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.center-text {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}
