#navbar {
	z-index: 5000;
	width: 100%;
	background: #303030;
	color: white;
}

.tabbar-item {
	display: inline-block;
	width: 33.33333%;
	vertical-align: bottom;
	padding: 20px 0;
	margin-bottom: 2px;
	cursor: pointer;
}

.title {
	padding: 10px;
}

.underline {
	box-shadow: 0 2.5px 0 #00f;
}
