<!DOCTYPE html>
<html>
<head>
	<title>Home Entertainment System</title>

	<meta name=viewport content="width=device-width">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='queue.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tiles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='album-view.css') }}">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='structures.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>	
	<div id="content-container">
		<div id="navbar">
			<div class="tabbar">
				<div id="tab-artist" class="tabbar-item center-text left">Artists</div>
				<div id="tab-album" class="tabbar-item center-text">Albums</div>
				<div id="tab-playlist" class="tabbar-item center-text right">Playlists</div>
			</div>
		</div>
		
		<div id="content">If you see this something went wrong... :(</div>
		<div id="queue-container">
			<div id="playing_image_container">
				<img id="playing-image" src="http://netstorage.metrolyrics.com/albums/2016/09/1472151365kings-of-leon-walls-2016-2480x2480.jpg">
				<div class="playing-text-container">
					<strong><p id="playing-title"></p></strong>
					<p id="playing-artist"></p>
					<p id="playing-album"></p>
				</div>
			</div>
			
			<div id="button-container">
				<img id="skip-next" class="btn-control" src="{{ url_for('static', filename='prev.png') }}">
				<img id="play-pause" class="btn-control" src="{{ url_for('static', filename='play.png') }}">
				<img id="skip-next" class="btn-control" src="{{ url_for('static', filename='next.png') }}">
			</div>
		
		</div>
		
	</div>
</body>
</html>
