<!DOCTYPE html>
<html>
<head>
	<title>Home Entertainment System</title>

	<meta name=viewport content="width=device-width">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/queue.css">
	<link rel="stylesheet" type="text/css" href="/static/tiles.css">
	<link rel="stylesheet" type="text/css" href="/static/album-view.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='structures.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>	
	<div id="navbar">
		<div class="tabbar">
			<div id="tab-artist" class="tabbar-item center-text left">Artists</div>
			<div id="tab-album" class="tabbar-item center-text">Albums</div>
			<div id="tab-playlist" class="tabbar-item center-text right">Playlists</div>
		</div>
	</div>
	
	<div id="content">If you see this something went wrong... :(</div>
	<div id="queue-container">
		<div id="playing-image-container">
			<img id="playing-image" src="https://lh3.googleusercontent.com/gdBHEk-u3YRDtuCU3iDTQ52nZd1t4GPmldYaT26Jh6EhXgp1mlhQiuLFl4eXDAXzDig5=w300">
			<div id="playing-text-container">
				<strong><p id="playing-title"></p></strong>
				<p id="playing-artist"></p>
				<p id="playing-album"></p>
			</div>
		</div>
		<div id="queue"></div>
		<div id="volume-control">
			<div id="volume-bar"></div>
			<div id="volume-bar-background"></div>
			<div id="volume-knob" onmousedown="onKnobDown(event)"></div>
		</div>
		<div id="button-container">
			
			<img id="btn-prev" class="btn-control" src="{{ url_for('static', filename='prev.png') }}">
			<img id="play-pause" class="btn-control" src="{{ url_for('static', filename='play.png') }}">
			<img id="btn-next" class="btn-control" src="{{ url_for('static', filename='next.png') }}">
		</div>
	
	</div>
</body>
</html>
